@CHARSET "ISO-8859-1";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* Tela grande */
@media ( min-width : 768px) {
	.panel-default {
		margin-left: 10px;
		margin-right: 10px;
	}
	.alert {
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 5px;
	}
}

body {
	font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
	padding-top: 12px;
}

.aw-title-panel {
	float: left;
	padding-top: 2px;
}

.fade.in {
	opacity: 1;
}

.aw-link-panel {
	float: right;
	padding: 0px;
}

.center-block {
	margin: 0px auto;
	display: block;
}

.title-login {
	border-bottom: 1px solid #cccccc;
}